{#	<link rel="stylesheet" href="/static/demos/real-estate/css/font-icons.css" type="text/css" />#}


<div id="page-menu" class="sticky-page-menu">
        <div id="page-menu-wrap" style="top: 61px;">
            <div class="container-fluid px-4">
                <div class="page-menu-row">

                    <div class="page-menu-title">Explore <span>CANVAS</span></div>

                    <nav class="page-menu-nav one-page-menu" data-offset="100">
                        <ul class="page-menu-container">

{#                            <li class="page-menu-item current"><a href="#">#}
{#                                <div>Niche Demos</div>#}
{#                            </a></li>#}

                            {% for m_item in single_menu %}
                                <li class="page-menu-item current"><a href="/{{ m_item.slug }}/"><div>
                                    {% autoescape off %}{{ m_item.icon}}  {% endautoescape %} {{ m_item.name }}</div>
                                </a></li>

                            {% endfor %}
                        </ul>
                    </nav>

                    <div id="page-menu-trigger"><i class="icon-reorder"></i></div>

                </div>
            </div>
        </div>
        <div class="page-menu-wrap-clone" style="height: 48px;"></div>
    </div>