{% extends 'base.html' %}
{% block title %}
 Detail title
{% endblock %}

{% block description %}{% endblock %}

{% block breadcrumps %}
    <section id="page-title" class="page-title-right">

        <div class="container clearfix">
            <h1>{{ detail_publisher.name }} </h1>
            <span>{% autoescape off %}{% endautoescape %}</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">huuh.ru</a></li>
                <li class="breadcrumb-item"><a href="/blog/">Блог</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ detail_publisher.name }}</li>
            </ol>
        </div>

    </section>
{% endblock %}

{% block content %}

    pub detail
    <hr>
{{ detail_publisher.name }}


    <hr>


{% endblock %}
