<div class="sidebar col-lg-3">
    <div class="sidebar-widgets-wrap">
        <div class="widget clearfix">
            <h4>Flickr Photostream</h4>
            <div id="flickr-widget" class="flickr-feed masonry-thumbs grid-container has-init-isotope">

                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>
                <a class="grid-item" href="https://live.staticflickr.com/65535/51391356838_c562c80516_b.jpg" title="" data-lightbox="gallery-item">
                    <img src="https://live.staticflickr.com/65535/51391356838_c562c80516_s.jpg" alt=""></a>


            </div>

        </div>


        <div class="widget clearfix">

            <div class="tabs mb-0 clearfix ui-tabs ui-corner-all ui-widget ui-widget-content" id="sidebar-tabs">

                <ul class="tab-nav clearfix ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                    <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-1"
                        aria-selected="true" aria-expanded="true">
                        <a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Popular</a>
                    </li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                        <a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Recent</a>
                    </li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
                        <a href="#tabs-3" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-3"><i class="icon-comments-alt mr-0"></i></a>
                    </li>
                </ul>

                <div class="tab-container">

                    <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                        <div class="posts-sm row col-mb-30" id="popular-post-list-sidebar">
                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/3.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><i class="icon-comments-alt"></i> 35 Comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/2.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><i class="icon-comments-alt"></i> 24 Comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/1.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><i class="icon-comments-alt"></i> 19 Comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true" style="display: none;">
                        <div class="posts-sm row col-mb-30" id="recent-post-list-sidebar">
                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/1.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li>10th July 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/2.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li>10th July 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/magazine/small/3.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <div class="entry-title">
                                            <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li>10th July 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-3" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none;">
                        <div class="posts-sm row col-mb-30" id="recent-comments-list-sidebar">
                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/icons/avatar.jpg" alt="User Avatar"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <strong>John Doe:</strong> Veritatis recusandae sunt repellat distinctio...
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/icons/avatar.jpg" alt="User Avatar"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <strong>Mary Jane:</strong> Possimus libero, earum officia architecto maiores....
                                    </div>
                                </div>
                            </div>

                            <div class="entry col-12">
                                <div class="grid-inner row no-gutters">
                                    <div class="col-auto">
                                        <div class="entry-image">
                                            <a href="#"><img class="rounded-circle" src="/static/images/icons/avatar.jpg" alt="User Avatar"></a>
                                        </div>
                                    </div>
                                    <div class="col pl-3">
                                        <strong>Site Admin:</strong> Deleniti magni labore laboriosam odio...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>



        <div class="widget clearfix">

            <h4>Tag Cloud</h4>
            <div class="tagcloud">
                <a href="#">general</a>
                <a href="#">videos</a>
                <a href="#">music</a>
                <a href="#">media</a>
                <a href="#">photography</a>
                <a href="#">parallax</a>
                <a href="#">ecommerce</a>
                <a href="#">terms</a>
                <a href="#">coupons</a>
                <a href="#">modern</a>
            </div>

        </div>

    </div>

</div><!-- .sidebar end -->