{% load static %}
{% load common_tags %}

<!DOCTYPE html>
<html dir="ltr" lang="ru-ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Ремонт крупной бытовой техники в Санкт-Петербурге{% endblock %}</title>
    <meta name="description" content="{% block description %}Ремонт стиральных, посудомоечных и сушильных машин - любой ремонт бытовой техники в Санкт-Петербурге {% endblock %}"/>
    <link rel="canonical" href="{% block canonical %}{% endblock %}"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content="huuh.ru"/>
    <!-- 	<meta property="article:published_time" content="2021-01-23T15:33:10+00:00" />
    <meta property="article:modified_time" content="2021-02-26T07:31:45+00:00" /> -->
    <!-- <meta property="og:image" content="" /> -->
    <!-- <meta property="og:image:width" content="1200" /> -->
    <!-- <meta property="og:image:height" content="675" /> -->
    <!-- <meta name="twitter:card" content="summary" /> -->
    <meta name="yandex-verification" content="c0e77720ce912598"/>
    <link rel="stylesheet" href="/static/demos/real-estate/css/font-icons.css" type="text/css"/>
    {% include 'head.html' %}


    <!-- -->


</head>

<body class="stretched">


{#{% show_top_menu %}#}

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    {% show_header_menu %}

    {#        {% include 'header.html' %}#}

    {% block breadcrumps %}

    {% endblock breadcrumps %}



    {% block submenu %}
        <div id="page-menu" data-mobile-sticky="true" class="">
            <div id="page-menu-wrap" style="">
                <div class="container">
                    <div class="page-menu-row">

                        <div class="page-menu-title">Ремонт <span>бытовой</span> техники</div>

                        <nav class="page-menu-nav">
                            <ul class="page-menu-container">
                                <li class="page-menu-item current"><a href="/remont-stiralnih-mashin/">
                                    <div>Ремонт стиральных машин</div>
                                </a></li>
                                <li class="page-menu-item"><a href="/remont-stiralnih-mashin/remont-bosh/">
                                    <div>BOSCH</div>
                                </a></li>

                                <li class="page-menu-item"><a href="#">
                                    <div>Ремонт крупной бытовой техники<i class="icon-angle-down"></i></div>
                                </a>
                                    <ul class="page-menu-sub-menu">
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт холодильников</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт варочных панелей</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт электроплит</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт духовых шкафов</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт морозильных камер</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Ремонт сушильных машин</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="/remont-stiralnih-mashin/remont-bosh/">
                                            <div>Ремонт посудомоечных машин</div>
                                        </a></li>


                                    </ul>
                                </li>


                                <li class="page-menu-item"><a href="#">
                                    <div>Установка<i class="icon-angle-down"></i></div>
                                </a>
                                    <ul class="page-menu-sub-menu">
                                        <li class="page-menu-item"><a href="#">
                                            <div>Установка стиральных машин</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Установка посудомоечных машин</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Установка кондиционеров</div>
                                        </a></li>
                                    </ul>
                                </li>
                                <li class="page-menu-item"><a href="#">
                                    <div>Информация<i class="icon-angle-down"></i></div>
                                </a>
                                    <ul class="page-menu-sub-menu">
                                        <li class="page-menu-item"><a href="#">
                                            <div>Холодильники</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Стиральные машины</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Кондиционеры</div>
                                        </a></li>
                                        <li class="page-menu-item"><a href="#">
                                            <div>Посудомоечные машины</div>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <div id="page-menu-trigger"><i class="icon-reorder"></i></div>

                    </div>
                </div>
            </div>
        </div>

    {% endblock submenu %}
    {% block content %}

        <!-- Slider
        ============================================= -->
        <section id="slider" class="slider-element" style="background: url('/static/demos/cleaner/images/hero.jpg') center center no-repeat; background-size: cover; height: 700px">
            <div class="vertical-middle">
                <div class="container">
                    <div class="row py-5">
                        <div class="col-xl-6 col-lg-5 col-md-2"></div>
                        <div class="col-xl-6 col-lg-7 col-md-10">
                            <div class="slider-title dark">
                                <h1>Сломалась бытовая техника?</h1>
                                <p>Мы вышлем мастера в ближайшие часы к вам при условии, что вы находитесь в Санкт-Петербурге.</p>
                            </div>
                            <div class="card border-0 p-3 shadow-lg" style="background-color: rgba(255,255,255,0.85)">
                                <div class="form-widget card-body" data-alert-type="inline">
                                    <div class="form-result"></div>
                                    <form id="form-cleaning" name="form-cleaning" action="" method="post" class="row form-cleaning mb-0">
                                        <div class="form-process">
                                            <div class="form-cleaning-loader css3-spinner" style="position: absolute;">
                                                <div class="css3-spinner-double-bounce1"></div>
                                                <div class="css3-spinner-double-bounce2"></div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 input-group form-group">
                                            <div class="input-group-prepend">
												<span class="input-group-text bg-color text-white"><i class="icon-box-tissue"></i>

													

												</span>
                                            </div>
                                            <select class="required custom-select" name="form-cleaning-service" id="form-cleaning-service">
                                                <option value="" disabled selected>-- Выберете устройство --</option>
                                                <option value="Home Cleaning">Стиральная машина</option>
                                                <option value="Office Cleaning">Посудомоечная машина</option>
                                                <option value="Window Cleaning">Сушильная машина</option>
                                                <option value="Garden Maintenance">Холодильник</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-6 input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-color text-white"><i class="icon-line2-map"></i></span>
                                            </div>
                                            <input type="text" name="form-cleaning-location" id="form-cleaning-location" class="form-control required" value="" placeholder="Район города">
                                        </div>

                                        <div class="col-sm-6 input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-color text-white"><i class="icon-realestate-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control cleaning-date datetimepicker-input required" name="form-cleaning-date-&-time" id="form-cleaning-date" value="Выбрать дату и время">
                                        </div>

                                        <div class="col-sm-6 form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-color text-white"><i class="icon-line2-layers"></i></span>
                                            </div>
                                            <input type="number" name="form-cleaning-area" min="200" id="form-cleaning-area" class="form-control required" value="" placeholder="Улица">
                                        </div>

                                        <div class="col-sm-6 input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-color text-white"><i class="icon-line2-envelope-letter"></i></span>
                                            </div>
                                            <input type="email" name="form-cleaning-email" id="form-cleaning-email" class="form-control required" value="" placeholder="Email">
                                        </div>

                                        <div class="col-sm-6 input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-color text-white"><i class="icon-line2-call-out"></i></span>
                                            </div>
                                            <input type="text" name="form-cleaning-phone" id="form-cleaning-phone" class="form-control required" value="" placeholder="Номер телефона">
                                        </div>

                                        <input type="text" class="d-none" id="form-cleaning-botcheck" name="form-cleaning-botcheck" value=""/>
                                        <input type="hidden" name="prefix" value="form-cleaning-">
                                        <input type="hidden" name="subject" value="Cleaning Request">
                                        <input type="hidden" name="html_title" value="Cleaning">

                                        <div class="col-12">
                                            <button type="submit" name="form-cleaning-submit" class="btn btn-lg bg-color text-white font-weight-semibold btn-block mt-2">Вызываю мастера!</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-separator">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2273 390" fill="#FFF">
                        <path d="M0,211.28s373-254,1119-205,765,173,1154,0v384H0Z"/>
                    </svg>
                </div>
            </div>
        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap pt-4 pb-0">

                <div class="container">

                    <div id="section-features" class="heading-block text-center page-section" data-onepage-settings="{&quot;offset&quot;:100,&quot;speed&quot;:1250,&quot;easing&quot;:&quot;easeOutQuad&quot;}">
                        <h2>Ремонт бытовой техники в Санкт-Петербурге</h2>
                        <span>Наши преимущества</span>
                    </div>
                    <div class="row justify-content-center col-mb-50 mb-0">
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
                                    <a href="#"><i class="i-rounded i-bordered icon-truck"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Бесплатный выезд мастера и диагностика</h3>
                                    <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="200">
                                    <a href="#"><i class="i-rounded i-bordered icon-certificate"></i></a></div>
                                <div class="fbox-content">
                                    <h3>Гарантия до 2х лет (работа+запчасти)</h3>
                                    <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="400">
                                    <a href="#"><i class="i-rounded i-bordered icon-clock"></i></a></div>
                                <div class="fbox-content">
                                    <h3>Удобное время приезда мастера</h3>
                                    <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="600">
                                    <a href="#"><i class="i-rounded i-bordered icon-wrench1"></i></a></div>
                                <div class="fbox-content">
                                    <h3>Ремонт в течение 24 часов</h3>
                                    <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="800">
                                    <a href="#"><i class="i-rounded i-bordered icon-cubes"></i></a></div>
                                <div class="fbox-content">
                                    <h3>Оригинальные запчасти</h3>
                                    <p>Change your Website's Primary Scheme instantly by simply adding the dark class to the body.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="1000">
                                    <a href="#"><i class="i-rounded i-bordered icon-user"></i></a></div>
                                <div class="fbox-content">
                                    <h3>Квалифицированные мастера</h3>
                                    <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


                <div class="clear"></div>
                {% include 'model_slide.html' %}


                <div class="container topmargin bottommargin-lg">
                    <div class="heading-block center mx-auto">
                        <h2 class="mb-2 nott ls0">Не знаете кому доверить технику?</h2>
                        <span>Наши мастера с опытом работы более 3х лет и отличной ремонтной базой.</span>
                    </div>
                    <div class="clear"></div>
                    <div class="row col-mb-50 mt-3">

                        <div class="col-lg-4 center order-lg-last">
                            <img src="/static/img/1.jpg" alt="Ремонт бытовой техники" width="340">
                        </div>

                        <div class="col-lg-4 col-md-6 pb-0">

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/cleaner-man.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">100% надежные мастера</h3>
                                    <p>Мы работаем на качество, для нас важен каждый клиент.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/cleaning-man.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">20+ мастеров</h3>
                                    <p>Мы отбираем только лучших мастеров.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/guarantee.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">Гарантия</h3>
                                    <p>Мы лаем гарантию на работы и запчасти до 2х лет.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-6">

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/product.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">Чистота и порядок</h3>
                                    <p>Гарантируем чистоту после ремонта техники, в случаях грязной работы вывозим технику в мастерсую.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/time.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">Экономим время</h3>
                                    <p>Устали читать отзывы и выбирать сервис? Остановитесь на нашем сервисе.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain bottommargin">
                                <div class="fbox-icon">
                                    <img src="/static/demos/cleaner/images/icons/price.svg" alt="Cleaner Icon">
                                </div>
                                <div class="fbox-content">
                                    <h3 class="nott font-weight-semibold ls0">Стоимость ремонта до работ</h3>
                                    <p>Мы не увеличиваем стоимость работ после согласования.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="clear"></div>




                <div class="negetive-margin">
                    <div class="container">
                        <div id="cleaner-carousel" class="owl-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4"
                             data-items-xl="4">
                            <div class="card border-0 shadow-sm">
                                <img src="/static/img/s1.jpg" class="card-img-top" alt="...">
                                <div class="card-body second-bg-color rounded-bottom p-4">
                                    <h4 class="card-title">Холодильник не морозит</h4>
                                    <p class="card-text">Часто причина неисправности кроется в вышедшем из строя моторе-компрессоре агрегата, посредством которого и производится охлаждение в холодильнике.</p>
                                </div>
                            </div>

                            <div class="card border-0 shadow-sm">
                                <img src="/static/img/s2.jpg" class="card-img-top" alt="...">
                                <div class="card-body second-bg-color rounded-bottom p-4">
                                    <h4 class="card-title">Стиральная машина не сливает</h4>
                                    <p class="card-text">Может быть, вышел из строя сливной насос, который откачивает воду из стиральной машинки. Поэтому машинка останавливается на этапе слива воды.</p>
                                </div>
                            </div>

                            <div class="card border-0 shadow-sm">
                                <img src="/static/img/s3.jpg" class="card-img-top" alt="...">
                                <div class="card-body second-bg-color rounded-bottom p-4">
                                    <h4 class="card-title">Посудомоечная машина не моет</h4>
                                    <p class="card-text">Вероятно, вышел из строя циркуляционный насос посудомойки, при помощи которого происходит циркуляция воды в машинке, и осуществляется мойка посуды.</p>
                                </div>
                            </div>


                            <div class="card border-0 shadow-sm">
                                <img src="/static/img/s4.jpg" class="card-img-top" alt="...">
                                <div class="card-body second-bg-color rounded-bottom p-4">
                                    <h4 class="card-title">Кондиционер течет</h4>
                                    <p class="card-text">Возможно, засорился дренаж бытового кондиционера, через который конденсат отводится на улицу или в канализацию. В результате, вода капает из внутреннего блока кондиционера.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                


            </div>

        </section><!-- #content end -->

        <div class="position-relative" style="background-color: rgba(255,80,80,0.08);">
            <svg class="svg-separator" viewBox="0 0 1440 24" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <path d="M0 24H1440V0C722.5 52 0 0 0 0V24Z" fill="#d87f87"></path>
            </svg>
        </div>
    {% endblock content %}

    {% include 'footer.html' %}
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up rounded-circle bg-color h-bg-dark"></div>

<!-- External JavaScripts
	{% static '/demos/cleaner/cleaner.css' %}
	============================================= -->
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/plugins.min.js' %}"></script>

<!-- DatePicker JS -->
<script src="{% static '/js/components/moment.js' %}"></script>
<script src="{% static '/js/components/daterangepicker.js' %}"></script>

<!-- Range Slider Plugin -->
<script src="{% static '/js/components/rangeslider.min.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script src="{% static '/js/functions.js' %}"></script>

<script>

    jQuery(document).ready(function () {

        jQuery('.cleaning-date').daterangepicker({
            "buttonClasses": "button button-rounded button-mini nott ls0 font-weight-semibold",
            "applyClass": "button-color m-0 ml-1",
            "cancelClass": "bg-danger m-0 text-light",
            singleDatePicker: true,
            startDate: moment().startOf('hour'),
            minDate: moment().startOf('date'),
            timePicker: true,
            timePickerSeconds: false,
            locale: {
                format: 'DD/MM/YYYY h:mm a',
            },
            timePickerIncrement: 10
        });

        jQuery('.cleaning-date').val('Select Date & Time');

        jQuery('.form-cleaning').on('formSubmitSuccess', function () {
            jQuery('.cleaning-date').val('Select Date & Time');
        });

        // Calculator
        var pricingAREA = 0,
            pricingROOMS = 0,
            pricingBATHROOMS = 0,
            pricingLIVINGROOMS = 0,
            pricingOTHERS = 0,
            elementAREA = $(".clean-area"),
            elementROOMS = $(".clean-rooms"),
            elementBATHROOMS = $(".clean-bathrooms"),
            elementLIVINGROOMS = $(".clean-livingrooms"),
            elementOTHERS = $("input[name='clean-form-others[]']"),
            elementPRICE = $("#clean-form-price");

        elementAREA.ionRangeSlider({
            min: 0,
            max: 5000,
            from: 0,
            step: 10,
            max_postfix: "sqft.",
            onStart: function (data) {
                pricingAREA = data.from;
            }
        });

        elementAREA.on('change', function () {
            pricingAREA = $(this).prop('value');
            calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
        });

        elementROOMS.ionRangeSlider({
            min: 0,
            max: 10,
            from: 0,
            step: 1,
            onStart: function (data) {
                pricingROOMS = data.from;
            }
        });

        elementROOMS.on('onStart change', function () {
            pricingROOMS = $(this).prop('value');
            calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
        });

        elementBATHROOMS.ionRangeSlider({
            min: 0,
            max: 10,
            from: 0,
            step: 1,
            onStart: function (data) {
                pricingBATHROOMS = data.from;
            }
        });

        elementBATHROOMS.on('onStart change', function () {
            pricingBATHROOMS = $(this).prop('value');
            calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
        });

        elementLIVINGROOMS.ionRangeSlider({
            min: 0,
            max: 5,
            from: 0,
            step: 1,
            onStart: function (data) {
                pricingLIVINGROOMS = data.from;
            }
        });

        elementLIVINGROOMS.on('onStart change', function () {
            pricingLIVINGROOMS = $(this).prop('value');
            calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
        });

        elementOTHERS.change(function () {
            var pricingOTHERS = 0;
            elementOTHERS.each(function () {
                if ($(this).is(':checked')) {
                    pricingOTHERS += parseFloat($(this).attr('data-price'));
                    calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
                } else {
                    calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);
                }
            });
        });

        calculatePrice(pricingAREA, pricingROOMS, pricingBATHROOMS, pricingLIVINGROOMS, pricingOTHERS);

        function calculatePrice(area, rooms, bathrooms, livingrooms, extra) {
            var TotalPriceValue = (Number(area) * .2) + (Number(rooms) * 4) + (Number(bathrooms) * 3) + (Number(livingrooms) * 5) + (Number(extra));
            jQuery('.total-price').html('$' + TotalPriceValue);
            elementPRICE.val(TotalPriceValue).change();
        }

    });

</script>


</body>
</html>