<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Тип работ</th>
        <th>Стоимость (только работа)</th>
        <th>Длительность</th>
        <th>Гарантия</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>
            Выезд мастера
        </td>
        <td>
            бесплатно**
        </td>
        <td>
            в течение 24 часов
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Диагностика
        </td>
        <td>
            бесплатно**
        </td>
        <td>
            10-40 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <strong>Мелкий ремонт</strong>
        </td>
    </tr>
    <tr>
        <td>
            Замена кнопки
        </td>
        <td>
            от 1100 руб.
        </td>
        <td>
            30-50 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена ручки люка
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            30-40 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена петли дверцы
        </td>
        <td>
            от 1300 руб.
        </td>
        <td>
            20-30 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена стекла люка
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            30-50 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена люка
        </td>
        <td>
            от 1300 руб.
        </td>
        <td>
            20-30 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Открытие люка без ремонта
        </td>
        <td>
            от 1100 руб.
        </td>
        <td>
            20-30 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Замена сетевого фильтра (ФПС, пусковой конденсатор)
        </td>
        <td>
            от 1500 руб.
        </td>
        <td>
            30-50 минут
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Замена сливного шланга
        </td>
        <td>
            от 1300 руб.
        </td>
        <td>
            20-40 минут
        </td>
        <td>
            от 1 до 2 лет
        </td>
    </tr>
    <tr>
        <td>
            Замена заливного шланга
        </td>
        <td>
            от 950 руб.
        </td>
        <td>
            10-20 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена сливного фильтра
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            20-50 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена дозатора моющих средств
        </td>
        <td>
            от 950 руб.
        </td>
        <td>
            10-20 минут
        </td>
        <td>
            2 года
        </td>
    </tr>
    <tr>
        <td>
            Чистка сливного фильтра
        </td>
        <td>
            от 1100 руб.
        </td>
        <td>
            15-30 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
          Чистка заливного фильтра
        </td>
        <td>
            от 1000 руб.
        </td>
        <td>
            15-30 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Замена приводного ремня
        </td>
        <td>
            от 950 руб.
        </td>
        <td>
            20-50 минут
        </td>
        <td>
            9 месяцев
        </td>
    </tr>
    <tr>
        <td>
            Снятие транспортировочных болтов
        </td>
        <td>
            от 1200 руб.
        </td>
        <td>
            20 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p>
                <strong>Средний ремонт</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
          Замена ТЭНа
        </td>
        <td>
            от 1500 руб.
        </td>
        <td>
            30-60 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена сливного насоса
        </td>
        <td>
            от 1700 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена манжеты люка
        </td>
        <td>
            от 2000 руб.
        </td>
        <td>
            40-90 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Поиск и устранение засора в сливном тракте
        </td>
        <td>
            от 1200 руб.
        </td>
        <td>
            20-70 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Замена УБЛ (блокировки люка)
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            30-60 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
           Замена щёток двигателя
        </td>
        <td>
            от 1500 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Ремонт или замена мотора
        </td>
        <td>
            от 2100 руб.
        </td>
        <td>
            40-80 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена амортизаторов
        </td>
        <td>
            от 2300 руб.
        </td>
        <td>
            40-90 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена пружин
        </td>
        <td>
            от 2000 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена прессостата (датчика уровня)
        </td>
        <td>
            от 1700 руб.
        </td>
        <td>
            40-60 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена заливного клапана (КЭНа)
        </td>
        <td>
            от 1600 руб.
        </td>
        <td>
            30-60 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Вынуть посторонний предмет
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
           Замена блока управления или индикации
        </td>
        <td>
            от 2000 руб.
        </td>
        <td>
            30-80 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Ремонт платы управления или индикации
        </td>
        <td>
            от 2500 руб.
        </td>
        <td>
            40 -90 минут на месте или 2-3 дня <br>
            (вывозится в мастерскую)
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена селектора программ
        </td>
        <td>
            от 2100 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Ремонт или замена аквастопа
        </td>
        <td>
            от 2100 руб.
        </td>
        <td>
            30-90 мин
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Ремонт или замена патрубка
        </td>
        <td>
            от 1600 руб.
        </td>
        <td>
            30-70 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена шкива барабана
        </td>
        <td>
            от 1700 руб.
        </td>
        <td>
            30-50 минут
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена датчика температуры или термостата
        </td>
        <td>
            от 1400 руб.
        </td>
        <td>
            30-60 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена ТЭНа сушки
        </td>
        <td>
            от 1700 руб.
        </td>
        <td>
            40-80 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена мотора вентилятора сушки
        </td>
        <td>
            от 1900 руб.
        </td>
        <td>
            40-80 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена жгута электропроводки
        </td>
        <td>
            от 1600 руб.
        </td>
        <td>
            40-80 минут
        </td>
        <td>
            2 года
        </td>
    </tr>
    <tr>
        <td>
            Замена циркуляционного насоса
        </td>
        <td>
            от 2100 руб.
        </td>
        <td>
            40-70 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td>
            Замена верхнего противовеса
        </td>
        <td>
            от 1900 руб.
        </td>
        <td>
            30-60 минут
        </td>
        <td>
            2 года
        </td>
    </tr>
    <tr>
        <td>
            Замена шторок барабана <br>
            (для машин с вертикальной загрузкой)
        </td>
        <td>
            от 2000 руб.
        </td>
        <td>
            40-70 минут
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p>
                <strong>Сложный ремонт</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            Замена подшипника
        </td>
        <td>
            от 3500 руб.
        </td>
        <td>
            1-4 часа
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена крестовины
        </td>
        <td>
            от 3000 руб.
        </td>
        <td>
            1-3 часа
        </td>
        <td>
            2 года
        </td>
    </tr>
    <tr>
        <td>
            Замена бака или барабана
        </td>
        <td>
            от 3700 руб.
        </td>
        <td>
            1-3 часа
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена опоры бака
        </td>
        <td>
            от 3500 руб.
        </td>
        <td>
            1-2 часа
        </td>
        <td>
            1 год
        </td>
    </tr>
    <tr>
        <td>
            Замена нижнего противовеса
        </td>
        <td>
            от 3700 руб.
        </td>
        <td>
            1-2 часа
        </td>
        <td>
            2 года
        </td>
    </tr>
    <tr>
        <td>
            Замена шторок барабана с разбором бака <br>
            (для машин с вертикальной загрузкой)
        </td>
        <td>
            от 3000 руб.
        </td>
        <td>
            1-3 часа
        </td>
        <td>
            6 мес
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <strong>Скидки </strong>(только на работу, на запчасти и комплектующие не распространяются)
        </td>
    </tr>
    <tr>
        <td>
           Пенсионерам
        </td>
        <td colspan="3">
            <strong>10%</strong> <br>
            нужно предъявить пенсионное удостоверение или паспорт
        </td>
    </tr>
    <tr>
        <td>
            Малообеспеченным гражданам
        </td>
        <td colspan="3">
            <strong>5%</strong> <br>
            нужно показать социальную карту москвича
        </td>
    </tr>
    </tbody>
</table>





<!--
                <div class="row grid-container has-init-isotope" data-layout="masonry">


                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-tint"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Не сливает</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>1100<span class="price-unit">₽</span></div>

                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Замена сливного насоса</li>
                                    <li><i class="icon-ok"></i> Ремонт прессостата</li>
                                </ul>

                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-refresh2"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Не отжимает</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>900<span class="price-unit">₽</span></div>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Замена угольных щеток</li>
                                    <li><i class="icon-ok"></i> Прошивка элеткронного модуля</li>
                                </ul>


                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-thermometer-half"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Не греет воду</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>1300<span class="price-unit">₽</span></div>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Замена ТЭН (нагревателя воды)</li>
                                    <li><i class="icon-ok"></i> Ремонт блока управления</li>
                                </ul>


                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-off"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Не включается</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Прошивка платы управления</li>
                                    <li><i class="icon-ok"></i> Замена сетевого фильтра</li>
                                </ul>


                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-random1"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Прыгает</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Замена амортизаторов</li>
                                    <li><i class="icon-ok"></i> Замена подшипников</li>
                                </ul>


                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                            <div class="fbox-icon">
                                <i class="i-rounded i-bordered icon-volume-up1"></i>
                            </div>
                            <div class="fbox-content">
                                <h3>Шумит</h3>
                                <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                                <ul class="iconlist">
                                    <li><i class="icon-ok"></i> Замена подшипников</li>
                                    <li><i class="icon-ok"></i> Удаление инородного предмета</li>
                                </ul>


                                <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                    <i class="icon-phone3"></i><span>Заказать</span></button>
                            </div>
                        </div>
                    </div>


                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-beaker"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не набирает воду</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1500<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Устранение засора</li>
                                <li><i class="icon-ok"></i> Замена КЭН или прессостата</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-unlock1"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не открывается</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена УБЛ (устройство блокировки люка)</li>
                                <li><i class="icon-ok"></i> Ремонт проводки</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-list-ul1"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Мигают индикаторы</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Ремонт блока управления</li>
                                <li><i class="icon-ok"></i> Сброс прошивки</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-bolt2"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Бьет током</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Ремонт проводки</li>
                                <li><i class="icon-ok"></i> Ремонт модуля управления</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-angry"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Оставляет пятна</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1100<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Прочистка бака</li>
                                <li><i class="icon-ok"></i> Проверка и устранение протечки</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-exclamation"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Зависает</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Прошивка электронной платы</li>
                                <li><i class="icon-ok"></i> Ремонт электроники</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-warning-sign"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Много пены</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>900<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Устранение засоров</li>
                                <li><i class="icon-ok"></i> Ремонт или замена манжеты</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-resize-full"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Набирает и сливает воду</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена КЭН (клапана подачи воды)</li>
                                <li><i class="icon-ok"></i> Ремонт прессостата</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-cog1"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не крутит</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>900<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена щеток</li>
                                <li><i class="icon-ok"></i> Ремонт двигателя</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-medical-i-information-us"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не полоскает</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1200<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена КЭН (клапана подачи воды)</li>
                                <li><i class="icon-ok"></i> Устранение засора</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-viruses"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не смывает порошок</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1500<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Ремонт КЭН (клапана подачи воды)</li>
                                <li><i class="icon-ok"></i> Ремонт блока управления</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-rus"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не набирает обороты</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1100<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена угольных щеток</li>
                                <li><i class="icon-ok"></i> Ремонт датчика оборотов</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-lock3"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Не закрывается</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>900<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена УБЛ (устройство блокировки люка)</li>
                                <li><i class="icon-ok"></i> Прошивка электронного модуля</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-surprise"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Показывает ошибку</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1000<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Ремонт блока управления</li>
                                <li><i class="icon-ok"></i> Сброс ошибок</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-stream"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Скрипит</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>1400<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Замена амортизаторов</li>
                                <li><i class="icon-ok"></i> Замена подшипников</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <i class="i-rounded i-bordered icon-swimming-pool"></i>
                        </div>
                        <div class="fbox-content">
                            <h3>Течет</h3>
                            <div class="pricing-price"><span class="price-tenure">от</span>800<span class="price-unit">₽</span></div>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> Устранение протечки</li>
                                <li><i class="icon-ok"></i> Замена патрубков</li>
                            </ul>


                            <button class="button button-rounded button-reveal button-large button-border text-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon-phone3"></i><span>Заказать</span></button>
                        </div>
                    </div>
                </div>

-->