<style>
    #oc-clients .oc-item img { width: 100px; height: 56px; }
</style>

<div class="container clearfix">

					<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-loop="true" data-nav="false"
                         data-autoplay="5000" data-pagi="false"
                         data-items-xs="3"
                         data-items-sm="4"
                         data-items-md="5"
                         data-items-lg="6"
                         data-items-xl="7">
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/samsung.png" alt="Samsung"></a>
                            <a href="#"><img src="/static/logobrend/aeg.png" alt="AEG"></a>
                            <a href="#"><img src="/static/logobrend/afe.png" alt="AFE"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/akai.png" alt="Akai"></a>
                            <a href="#"><img src="/static/logobrend/amana-logo-small.png" alt="Amana"></a>
                            <a href="#"><img src="/static/logobrend/ardo.png" alt="Ardo"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/ariston.png" alt="Ariston"></a>
                            <a href="#"><img src="/static/logobrend/asko.png" alt="Asko"></a>
                            <a href="#"><img src="/static/logobrend/atlant.png" alt="Atlant"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/ballu.png" alt="Ballu"></a>
                            <a href="#"><img src="/static/logobrend/bbk.png" alt="BBK"></a>
                            <a href="#"><img src="/static/logobrend/beko.png" alt="Beko"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/biryusa.png" alt="Бирюза"></a>
                            <a href="#"><img src="/static/logobrend/bomann.png" alt="Bomann"></a>
                            <a href="#"><img src="/static/logobrend/bork.png" alt="bork"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/bosch.png" alt="bosch"></a>
                            <a href="#"><img src="/static/logobrend/brandt.png" alt="brandt"></a>
                            <a href="#"><img src="/static/logobrend/braun.png" alt="braun"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/candy.png" alt="candy"></a>
                            <a href="#"><img src="/static/logobrend/carrier.png" alt="carrier"></a>
                            <a href="#"><img src="/static/logobrend/daewoo.png" alt="daewoo"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/daikin.png" alt="Clients"></a>
                            <a href="#"><img src="/static/logobrend/dantex.png" alt="Clients"></a>
                            <a href="#"><img src="/static/logobrend/don.png" alt="Clients"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/electra.png" alt="electra"></a>
                            <a href="#"><img src="/static/logobrend/electrolux.png" alt="electrolux"></a>
                            <a href="#"><img src="/static/logobrend/exqvisit-logo-small.png" alt="exqvisit"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/fujitsu.png" alt="fujitsu"></a>
                            <a href="#"><img src="/static/logobrend/general-electric.png" alt="general"></a>
                            <a href="#"><img src="/static/logobrend/goldstar.png" alt="goldstar"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/gorenje.png" alt="gorenje"></a>
                            <a href="#"><img src="/static/logobrend/gree.png" alt="gree"></a>
                            <a href="#"><img src="/static/logobrend/grundig.png" alt="grundig"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/haier.png" alt="haier"></a>
                            <a href="#"><img src="/static/logobrend/hansa.png" alt="hansa"></a>
                            <a href="#"><img src="/static/logobrend/hitachi.png" alt="hitachi"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/hotpoint-ariston.png" alt="hotpoint"></a>
                            <a href="#"><img src="/static/logobrend/indesit.png" alt="indesit"></a>
                            <a href="#"><img src="/static/logobrend/kaiser.png" alt="kaiser"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/krona.png" alt="krona"></a>
                            <a href="#"><img src="/static/logobrend/kuppersbusch-logo-small.png" alt="kuppersbusch"></a>
                            <a href="#"><img src="/static/logobrend/lg.png" alt="lg"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/liebherr.png" alt="liebherr"></a>
                            <a href="#"><img src="/static/logobrend/loewe.png" alt="loewe"></a>
                            <a href="#"><img src="/static/logobrend/mabe.png" alt="mabe"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/midea.png" alt="midea"></a>
                            <a href="#"><img src="/static/logobrend/miele.png" alt="miele"></a>
                            <a href="#"><img src="/static/logobrend/minsk.png" alt="minsk"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/mitsubishi.png" alt="mitsubishi"></a>
                            <a href="#"><img src="/static/logobrend/neff.png" alt="neff"></a>
                            <a href="#"><img src="/static/logobrend/nord.png" alt="nord"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/oka.png" alt="oka"></a>
                            <a href="#"><img src="/static/logobrend/panasonic.png" alt="panasonic"></a>
                            <a href="#"><img src="/static/logobrend/philips.png" alt="philips"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/polair-logo-small.png" alt="polair"></a>
                            <a href="#"><img src="/static/logobrend/pozis.png" alt="pozis"></a>
                            <a href="#"><img src="/static/logobrend/sanyo.png" alt="sanyo"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/saratov.png" alt="saratov"></a>
                            <a href="#"><img src="/static/logobrend/sharp.png" alt="sharp"></a>
                            <a href="#"><img src="/static/logobrend/siemens.png" alt="siemens"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/smolensk.png" alt="smolensk"></a>
                            <a href="#"><img src="/static/logobrend/sony.png" alt="sony"></a>
                            <a href="#"><img src="/static/logobrend/stinol.png" alt="stinol"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/toshiba.png" alt="toshiba"></a>
                            <a href="#"><img src="/static/logobrend/vestel.png" alt="vestel"></a>
                            <a href="#"><img src="/static/logobrend/vestfrost.png" alt="vestfrost"></a>
                        </div>
						<div class="oc-item">
                            <a href="#"><img src="/static/logobrend/whirlpool.png" alt="whirlpool"></a>
                            <a href="#"><img src="/static/logobrend/zanussi.png" alt="zanussi"></a>
                            <a href="#"><img src="/static/logobrend/zil.png" alt="zil"></a>
                        </div>

					</div>


				</div>